{% extends "base.html" %}
<html >
<head>
  <meta charset="UTF-8">
  <title>WantBook</title>



</head>

{% block body %}
<body>
  <div class="login-page">
  <div class="form">

    <div class="row">
        <div class="col-md-2 col-md-offset-5">

        </div>
   </div>


    <div class="row">


        <div class="col-md-2 col-md-offset-5">

          <form class="login-form" method="POST">
            <h3> Login Here </h3>
            {% csrf_token %}
            {{form}}
            <br>
            <br>
            <button class="btn btn-primary" type="submit" >login here</button>
            <br>
            <br>
            <p class="message">Not registered? <a href="/account/register/">Create an account</a></p>
            <p class="message">Forgot password? <a href="/account/reset_password/">Reset password</a></p>
          </form>
        </div>
    </div>
  </div>
</div>
</body>

{% endblock body  %}

</html>
